@font-face {
  font-family: "iconfont"; /* Project id 4370560 */
  src: url('iconfont.woff2?t=1702394204857') format('woff2'),
       url('iconfont.woff?t=1702394204857') format('woff'),
       url('iconfont.ttf?t=1702394204857') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-denglu:before {
  content: "\e66b";
}

.icon-guanliyuan_jiaoseguanli:before {
  content: "\e612";
}

.icon-fuwuguanli_o:before {
  content: "\eb53";
}

.icon-zujian:before {
  content: "\e730";
}

.icon-kaifazujian:before {
  content: "\e640";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.icon-icon_computer:before {
  content: "\e607";
}

.icon-icon_location:before {
  content: "\e608";
}

.icon-icon_allProcess:before {
  content: "\e609";
}

.icon-icon_clocking:before {
  content: "\e60a";
}

.icon-icon_people:before {
  content: "\e60b";
}

.icon-icon_newProcess:before {
  content: "\e60c";
}

.icon-icon_backlog:before {
  content: "\e60d";
}

.icon-icon_home:before {
  content: "\e60e";
}

