@font-face {
  font-family: "iconfont"; /* Project id 4370560 */
  src: url('iconfont.woff2?t=1733320051261') format('woff2'),
       url('iconfont.woff?t=1733320051261') format('woff'),
       url('iconfont.ttf?t=1733320051261') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e615";
}

.icon-wenjianjia:before {
  content: "\e614";
}

.icon-xinzeng:before {
  content: "\e656";
}

.icon-daorutupian:before {
  content: "\e703";
}

.icon-daoru:before {
  content: "\e68c";
}

.icon-guding:before {
  content: "\e7a4";
}

.icon-a-youjiantouzhixiangyoujiantou:before {
  content: "\e611";
}

.icon-a-zuojiantouzhixiangzuojiantou:before {
  content: "\e613";
}

.icon-shezhi:before {
  content: "\e74c";
}

.icon-quanxian:before {
  content: "\e63f";
}

.icon-ziyuanguanli:before {
  content: "\e619";
}

.icon-wodezhanghu:before {
  content: "\e610";
}

.icon-quanxianziyuanguanli:before {
  content: "\e711";
}

.icon-050-edition:before {
  content: "\e6a0";
}

.icon-bianji:before {
  content: "\e602";
}

.icon-wuxianwangluo:before {
  content: "\e66f";
}

.icon-3zuidahua-1:before {
  content: "\e66d";
}

.icon-zuidahua:before {
  content: "\e601";
}

.icon-zuixiaohua:before {
  content: "\e60f";
}

.icon-wangluo:before {
  content: "\e657";
}

.icon-add:before {
  content: "\e65b";
}

.icon-close:before {
  content: "\e662";
}

.icon-delete:before {
  content: "\e665";
}

.icon-folder:before {
  content: "\e668";
}

.icon-login:before {
  content: "\e669";
}

.icon-github:before {
  content: "\e6b7";
}

.icon-bzhan:before {
  content: "\e61e";
}

.icon-guanyu:before {
  content: "\e655";
}

.icon-guidang:before {
  content: "\e63e";
}

.icon-a-bijibenbiji:before {
  content: "\e6bf";
}

.icon-a-bijibenbiji1:before {
  content: "\e6c1";
}

.icon-xiangmuguidang:before {
  content: "\e742";
}

.icon-denglu:before {
  content: "\e66b";
}

.icon-guanliyuan_jiaoseguanli:before {
  content: "\e612";
}

.icon-fuwuguanli_o:before {
  content: "\eb53";
}

.icon-zujian:before {
  content: "\e730";
}

.icon-kaifazujian:before {
  content: "\e640";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.icon-icon_computer:before {
  content: "\e607";
}

.icon-icon_location:before {
  content: "\e608";
}

.icon-icon_allProcess:before {
  content: "\e609";
}

.icon-icon_clocking:before {
  content: "\e60a";
}

.icon-icon_people:before {
  content: "\e60b";
}

.icon-icon_newProcess:before {
  content: "\e60c";
}

.icon-icon_backlog:before {
  content: "\e60d";
}

.icon-icon_home:before {
  content: "\e60e";
}

